{% extends 'base.html' %}

{% block content %}
<h1>Projects List</h1>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Department</th>
            <th>Number of people on this project</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project[0] }}</td>
            <td>{{ project[1] }}</td>
            <td>{{ project[2] }}</td>
            <td>{{ project[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
